.App {
  text-align: center;
  background-color: #fffcfc;
  height: 640px;
  margin-top: 75px;
}

.addButton {
  margin-top: 50px;
}

.addDiv {
  display: flex;
  flex-direction: column;
}

.addInput {
  width: 300px;
  height: 100px;
  margin-bottom: 20px;
}

.add {
  display: flex;
  margin-top: 250px;
}

.addEx {
  margin-left: 400px;
}

.addPr {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}

.questionResult {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
}

.questionCnt {
  margin-top: 1px;
  border: 1px solid black;
  margin-left: 600px;
  width: 300px;
  height: 30px;
}

.questionCnt:hover {
  border: 1px solid red;
}

.questionDiv {
  display: flex;
  flex-direction: column;
  margin-left: 650px;
}

.questionInput {
  margin-top: 20px;
  width: 200px;
  height: 200px;
}

.questionButton {
  margin-top: 10px;
  width: 75px;
  height: 50px;
}

.categoryInput {
  border: 1px solid black;
  width: 500px;
  margin-left: 500px;
  margin-top: 30px;
  padding: 20px;
}

.categoryInput:hover {
  color: purple;
}

.search {
  margin-right: 170px;
}

.searchP {
  padding-right: 115px;
}

.searchInput {
  margin-left: 213px;
  width: 350px;
  height: 20px;
}

.alarmP {
  padding-left: 100px;
}

.alarmImg {
  padding-left: 10px;
  padding-top: 10px;
  width: 40px;
  height: 30px;
}

.alarm {
  margin-left: 500px;
  border: 1px solid black;
  width: 500px;
  border-color: #166cec;
  background-color: #e8f0fd;
  display: flex;
  margin-bottom: 30px;
}

.mainImg {
  padding: 0 25px 0 25px;
  margin-top: 100px;
  width: 100px;
  height: 100px;
}

.mainImg:hover {
  border: 3px solid blue;
}

.nextBorder {
  border: 1px solid black;
  width: 700px;
  height: 300px;
  margin-left: 410px;
}

.logoP {
  color: #342525;
  font-size: 20px;
  opacity: 0.5;
}

.mainButton {
  background-color: #8142f5;
  color: white;
  width: 110px;
  height: 35px;
  border-radius: 30px;
  border-color: #8142f5;
}

.mainButton:hover {
  background-color: black;
}

.emailP {
  margin-top: 75px;
  color: #6a6d71;
  margin-bottom: 40px;
}

.인증코드 {
  margin-top: 30px;
}

.mainInput {
  color: #c3c6c9;
  width: 320px;
  height: 35px;
  text-align: center;
  margin-right: 35px;
  margin-left: 140px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
